In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from pathlib import Path
import pandas as pd

In [6]:
data_path = Path().cwd().parent/'Data'
data_path

PosixPath('/home/sergey/Рабочий стол/Coding/hacathon_mlbg/Data')

In [8]:
df = pd.read_csv(data_path/'train_fd.csv')
df.head(1)

,index,name,description,target,responsibilities,full_description,class
0,169939030,кассир в пиццерию г витебск,"<p><strong>Устал искать работу? Может, хочешь ...",5223,":принимать и выдавать заказы, расчет с гостями",кассир в пиццерию г витебск принимать и выдав...,76

In [47]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(df['full_description'], df['target'], test_size=0.25)
vectorizer1 = TfidfVectorizer()
tf_train1 = vectorizer1.fit_transform(x_train1)
tf_test1 = vectorizer1.transform(x_test1)
pas_ag1 = PassiveAggressiveClassifier(max_iter=5000)
pas_ag1.fit(tf_train1, y_train1)

PassiveAggressiveClassifier(max_iter=50000)

In [48]:
pas_ag1.score(tf_test1, y_test1)

0.9674121405750798

In [42]:
test_df = pd.read_csv(data_path/'test_fd.csv')
test_df.head(1)

,index,name,description,responsibilities,full_description
0,26461447,"персональный водитель сервиса ""wheely""",<p><strong>В </strong>связи с расширением авто...,Выполнение поступающих заявок через приложение...,персональный водитель сервиса wheely выполне...

In [43]:
tf_test2 = vectorizer1.transform(test_df['full_description'])
pred1 = pas_ag1.predict(tf_test2)
pred_s = pd.Series(pred1)
pred_s.name = 'target'
finale = pd.concat([test_df['index'], pred_s], axis=1)

In [44]:
finale

          index  target
0      26461447    8322
1      26464220    3323
2      26467473    5223
3      26468989    4323
4      26471705    4222
...         ...     ...
1085  123809156    9622
1086  104700805    2423
1087  114563177    5223
1088  354950498    2149
1089  361611956    4323

[1090 rows x 2 columns]

In [45]:
save_path = data_path.parent/'Results'
save_path

PosixPath('/home/sergey/Рабочий стол/Coding/hacathon_mlbg/Results')

In [46]:
finale.to_csv(save_path/'submission_merged2.csv', index=False)